// ********** BACKGROUND COLORS **********
$backgroundColorPrimary: #E5E5E5;
$backgroundColorSecondary: #F6F6F6;
$backgroundColorTertiary: #000000;

// ********** FONT COLORS **********
$fontColorPrimary: #FF6060;
$fontColorSecondary: #FFFFFF;

// ********** FONT SIZES **********
$navFontSizeDesktop: 1.5em;
$navFontSizeMobile: .75em;

// ********** BREAKPOINTS **********
$breakpointMobile: 768px;
$breakpointTablet: 1024px;
$breakpointDesktop: 1440px;