@use "../../../utils/styles/variables" as variables;

.headerContainer {
  @media(min-width: variables.$breakpointDesktop) {
    padding: 2em 6em 4em 6em;
  }
  padding: 1.5em;
  background-color: variables.$backgroundColorPrimary;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

// ********** BRANDING LOGO WRAPPER **********

.headerContainer__leftWrapper {
}

.headerContainer__leftWrapper__imageWrapper {
  @media (min-width: variables.$breakpointDesktop) {
    width: 12em;
  }
  width: 9em;
}

.headerContainer__leftWrapper__imageWrapper__image {
  width: 100%;
}

// ********** NAV LOGO WRAPPER **********

.headerContainer__rightWrapper {
}

.headerContainer__rightWrapper__navigation {
}

.headerContainer__rightWrapper__navigation__listWrapper {
  display: flex;
  gap: 4em;
  list-style: none;
}

.headerContainer__rightWrapper__navigation__listWrapper__listItem {
  @media (min-width: variables.$breakpointDesktop) {
    font-size: variables.$navFontSizeDesktop;
    text-transform: unset;
  }
  color: variables.$fontColorPrimary;
  font-size: variables.$navFontSizeMobile;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    text-decoration: underline variables.$fontColorPrimary;
  }
}
