@use './utils/styles/variables' as variables;

// ********** GLOBAL SCSS FILE **********
// RESET STYLES
html,
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {

}

main {
  min-height: 63vh;
}