@use './utils/styles/variables' as variables;

// ********** GLOBAL SCSS FILE **********
// RESET STYLES
html,
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header, main {
  @media(min-width: variables.$breakpointDesktop) {
    padding: 5em;
  }
  padding: 1.5em;
  background-color: variables.$backgroundColorPrimary;
}

main {
  min-height: 63vh;
}